:root {
    --primary: #E8DAF1;
    --secondary: #799F62;
}



.dropdown ul{
    background-color: #CED8F2;
    
}

.img-header{
    height: 1.5rem;
}

.header-top {
    height: 4rem;
    background-color: #F3FBFD;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top h1{
    font-size:2rem;
}

#div-main-nav {
    /*width: 350px;*/
    height: 100vh;
    background-color: #F3FBFD;
}

.main-container{
    display:grid;
    grid-template-columns: 350px 1fr;
    grid-gap:5px;
  
}



.btn{
    border: none;
    border-radius: 5px;
    background: #799F62;
    color:white;
}

.form-div {
    border: 1px solid #8693BF;
    border-radius:5px;
    padding:.5rem;
    margin:.5rem;
    
}

